.pages {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }


}

.active button{
    font-size: 16px;
    font-weight: bold;
}