.header {
    background-color: var(--main);
}

.headerContainer {
    display: grid;
    gap: 24px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;

        & > div {
            grid-column: 2;
            grid-row: 1;
        }

        form {
            grid-column: 1 / 3;
            grid-row: 2;
        }
    }
}

.title {
    margin: 0;
    white-space: nowrap;

     @media screen and (max-width: 767px) {
        font-size: 18px;
     }
}